body {
    background-color: #17181F;
    color: #ddd;
}

main {
    max-width: 460px;
    margin: 30px auto;
}

form input {
    width: 100%;
    background-color: transparent;
    color: #ddd;
    border: 2px solid #30313d;
    padding: 3px 5px;
    border-radius: 5px;
}

form input[type="datetime-local"] {
    color: #777; 
}

div.transaction {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-top: 1px solid #30313d;
}

div.transaction:first-child {
    border-top: 0;
}

div.transaction div.name {
    font-size: 1.2rem;
}

div.transaction div.description {
    font-size: 0.7rem;
    color: #888;
}

div.right {
    text-align: right;
}

div.price.green {
    color: #1c1
}

div.price.red {
    color: #c11
}

div.transaction div.datetime {
    font-size: 0.7rem;
    color: #888;
}